@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.homepageBackground {
  background-color: #1a54f8;
}

.blueColour {
  color: #1a54f8;
}
